@import "@picocss/pico";
@import "./form.css";

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

main>* {
  margin-bottom: 0;
  margin-top: 0;
}

nav~main {
  margin-top: 40px;
}

main~footer {
  margin-top: 40px;
}

article>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

/* Article/cards header and footer children should not have a margin-bottom */
article>header>div>*,
article>footer>* {
  margin-bottom: 0px;
}

main~footer ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

main~footer ul>li {
  list-style: none;
}

nav form {
  margin: 0;
}

.page-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Fixes iframe (especially for 3DS from Stripe) not being inter-actable due to parent modal pointer-event setting */
.modal-is-open iframe {
  pointer-events: initial;
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}