@import './base.css';
@import './form.css';

.logo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17.5px;
  line-height: 21px;
  /* identical to box height */
}

/* Article/cards header and footer children should not have a margin-bottom */
article > header > *,
article > footer > * {
  margin-bottom: 0px;
}


/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}